.cart-btn{
    background-color: orange;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    margin-left: -5px;
    border-radius: 10px;
}
.poduct{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    height: 500px;
}
.poduct img{
    width: 100%;
    border-radius: 10px;
}
.btn-icon{
    margin-left: 10px;
}